@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
}

.shav {
    box-shadow: 0 0 20px rgb(91, 93, 239);
}

.shab {
    box-shadow: 0 0 20px #000;
}

.ch:hover path{
    fill: red;
}